<%= form_with(model: supplier, local: true) do |form| %>
  <div class='form-field'>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <!--areas to enter contact details to easily contact suppliers-->
  <div class='form-field'>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>
  <div class='form-field'>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class='button-center'>
    <%= form.submit class: 'button-small' %>
  </div>
<% end %>