<!DOCTYPE html>
<html>
  <head>
    <title>InventoryManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="nav-title">Inventory Management</div>
      <ul class="nav-links">
        <li>
          <%= link_to 'Items', items_path, class: active_class(items_path) %>
        </li>
        <li>
          <%= link_to 'Categories', categories_path, class: active_class(categories_path) %>
        </li>
        <li>
          <%= link_to 'Suppliers', suppliers_path, class: active_class(suppliers_path) %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
